<h1>Complete</h1>
<div class="d-flex justify-content-around">
<div class="container-2">
<%= simple_form_for [@vehicle, @booking] do |form| %>
  <div class="field">
    <%= form.input :start_date, html5: true %>
  </div>
  <div class="field">
    <%= form.input :end_date, html5: true%>
  </div>
  <div class="field">
    <%= form.input :name %>
  </div>
  <div class="actions">
    <%= form.submit "Rent"%>
  </div>
<% end %>
</div>

<div class="container-2">
  <div class="card-vehicle">
    <h1><%= @vehicle.brand %></h1>
    <p><%= @vehicle.model %></p>
    <p><%= @vehicle.year %></p>
    <p><%= @vehicle.description %></p>
  </div>
</div>
</div>

<%= link_to 'Back', vehicles_path, class: "btn-back" %>
