<!-- Header con el logo y el login -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-dark">
  <div class="container-fluid">
    <%= link_to  root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link text-white" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "avatar.png", class: "avatar", alt: "dropdown menu" %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mis vehiculos", my_vehicles_path, class: "dropdown-item" %>
              <%= link_to "Mis reservas", mis_reservas_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<!-- Barra de búsqueda -->
<% if current_page?(root_path) || user_signed_in? %>

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-light">
    <div class="container">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to vehicles_path, class: "nav-link"  do %>
              <i class="fa-solid fa-border-all" style="color: #170745;"></i> Todos
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to vehicles_path(vehicle_type: "car"), class: "nav-link"  do %>
              <i class="fa-solid fa-car-side" style="color: #170745;"></i> Autos
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to vehicles_path(vehicle_type: "bike"), class: "nav-link" do %>
              <i class="fa-solid fa-bicycle"></i> Bicicletas
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to vehicles_path(vehicle_type: "motorcycle"), class: "nav-link" do %>
              <i class="fa-solid fa-motorcycle"></i> Motos
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to vehicles_path(vehicle_type: "van"), class: "nav-link" do %>
              <i class="fa-solid fa-van-shuttle"></i> Vans
            <% end %>
          </li>
        </ul>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <%= form_with url: vehicles_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn-search" %>
        <% end %>

      </div>
    </div>
  </div>

<% end %>
