<div class="head-vehicles">
<h2 style="margin-top: 5px">Mis vehiculos</h2>
<%=link_to 'New Vehicle', new_vehicle_path, class: "btn-new", style: "margin-bottom: auto; margin-top: auto" %>
</div>

<div class="container-1">
<% @vehicles.each do |vehicle| %>
  <div class="card-vehicle">
    <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill, class: "vehicle-photo" if vehicle.photo.attached? %>
    <h2 style="margin-top: inherit;"><%= vehicle.brand %></h2>
    <p><%= vehicle.model %></p>
    <p><%= vehicle.year %></p>
    <div class="d-flex justify-content-beetwen">
      <%= link_to 'Ver', vehicle, class: "button mx-3 text-decoration-none" %>
      <%= link_to 'Editar', edit_vehicle_path(vehicle), class: "button mx-3 text-decoration-none" %>
      <%= link_to 'Borrar', vehicle_path(vehicle), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "button mx-3 text-decoration-none" %>
    </div>
  </div>
<% end %>
</div>
