<h1>create a new vehicle</h1>
<div class="container-2">
  <%= form_with model: @vehicle, local: true do |form| %>
    <div class="field">
      <%= form.label :brand %>
      <%= form.text_field :brand %>
    </div>

    <div class="field">
      <%= form.label :model %>
      <%= form.text_field :model %>
    </div>

    <div class="field">
      <%= form.label :year %>
      <%= form.text_field :year %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description %>
    </div>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :ubication %>
      <%= form.text_field :ubication %>
    </div>

    <div class="field">
    <%= form.label :vehicle_type %>
    <%= form.select :vehicle_type, options_for_select({ 'Automóvil' => 'car', 'Bicicleta' => 'bike', 'Motocicleta' => 'motorcycle', 'Furgoneta' => 'van' }) %>
    </div>

    <div class="field">
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>

<div><%= link_to 'Back', vehicles_path , class: "btn-back"%></div>
<br>
<div><%= link_to 'Mis publicaciones', my_vehicles_path, class: "btn-back"%></div>
